.row {
  width: 100%;
  margin: 0 auto;
  max-width: $row-width;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row.collapse > .column,
.row.collapse > .columns {
  padding-left: 0;
  padding-right: 0;
}
.row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}
.row .row {
  width: auto;
  margin: 0 -0.9375rem;
  max-width: none;
}
.row .row:before, .row .row:after {
  content: " ";
  display: table;
}
.row .row:after {
  clear: both;
}
.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
}
.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table;
}
.row .row.collapse:after {
  clear: both;
}

.column,
.columns {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
  position: relative;
}

[class*="column"] + [class*="column"]:last-child {
  float: right;
}

[class*="column"] + [class*="column"].end {
  float: left;
}

@each $breakpoint, $item in $breakpoints {

  @media #{$item} {

    @for $i from 0 through $number-of-columns - 1 {

      .#{$breakpoint}-push-#{$i} {
        position: relative;
        left: $i * 100%/$number-of-columns;
        right: auto; 
      }

      .#{$breakpoint}-pull-#{$i} {
        position: relative;
        right: $i * 100%/$number-of-columns;
        left: auto;
      }

      .#{$breakpoint}-offset-#{$i} {
        margin-left: $i * 100%/$number-of-columns !important;
      }

    }

    @for $i from 1 through $number-of-columns {

      .#{$breakpoint}-#{$i} {
        width: $i * 100%/$number-of-columns;
        position: relative;
      }

    }

    .#{$breakpoint}-reset-order {
      margin-left: 0;
      margin-right: 0;
      left: auto;
      right: auto;
      float: left;
    }

    .column.#{$breakpoint}-centered,
    .columns.#{$breakpoint}-centered {
      margin-left: auto;
      margin-right: auto;
      float: none;
    }

    .column.#{$breakpoint}-uncentered,
    .columns.#{$breakpoint}-uncentered {
      margin-left: 0;
      margin-right: 0;
      float: left;
    }

    .column.#{$breakpoint}-centered:last-child,
    .columns.#{$breakpoint}-centered:last-child {
      float: none;
    }

    .column.#{$breakpoint}-uncentered:last-child,
    .columns.#{$breakpoint}-uncentered:last-child {
      float: left;
    }

    .column.#{$breakpoint}-uncentered.opposite,
    .columns.#{$breakpoint}-uncentered.opposite {
      float: right;
    }

    .row.#{$breakpoint}-collapse > .column,
    .row.#{$breakpoint}-collapse > .columns {
      padding-left: 0;
      padding-right: 0;
    }
    .row.#{$breakpoint}-collapse .row {
      margin-left: 0;
      margin-right: 0;
    }
    .row.#{$breakpoint}-uncollapse > .column,
    .row.#{$breakpoint}-uncollapse > .columns {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
      float: left;
    }

  }

}